{% extends "base.html"%}
{% block title %}
Cheeses:{{ cheese.name }}
{% endblock %}

{% block content %}

<h2>
  {{ cheese.name}}
</h2>

{% if cheese.firmness %}
<p>Firmness:{{ cheese.firmness }}</p>
{% endif %}

{% if cheese.description %}
<p>{{ cheese.description }}</p>
{% endif %}

{% endblock content %}
